.btn{
	position:relative;
	cursor:pointer;
	outline:none;
	font-family: georgia;
}

h2{
	position:relative;
	text-align:center;
	font-family: georgia;
	font-size: 150%;
	margin-top: 1%;
	padding-bottom: 1%;
}

h6{
	font-family: georgia;
}

p{
	text-align: center;
	font-family: georgia;
	font-style: italic;
	font-size: 90%;
}

.container_all{
	margin-top: 0%;
	float:left;
	width: 50%;
}

#container_3{
	margin-top: 4.5%;
}

.container{
	position: relative;
	text-align:center;
	margin: 1.5%;
	margin-left: 5%;
	border: 1px dashed black;
	border-radius: 5px;
	width: 90%;
	padding: 1.5%;
	display: inline-block;
}

.left-icon{
	float: left;
	width: 40%;
}

.right-icon{
	float: right;
	width: 60%;
	margin-top: 4%;
}

.slider {
	margin-top: 12%;
  	-webkit-appearance: none;
	width: 170px;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	position: relative;
}

	.slider:hover {
	  	opacity: 1;
	}

	.slider::-webkit-slider-thumb {
	  	-webkit-appearance: none;
	  	appearance: none;
	  	width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #4CAF50;
		cursor: pointer;
	}

	.slider::-moz-range-thumb {
	  	width: 20px;
	 	height: 20px;
	  	border-radius: 50%;
	  	background: #4CAF50;
	  	cursor: pointer;
	}

.slidercontainer{
	height: 20%;
	display: inline-flex;
	width: 60%;
}

#container_0{
	display: inline-flex;
}

.radio_label{
	margin: 5px;
	display: inline-grid;
}

#louie{
	position: relative;
	margin-left: 15px;
}

.key_label{
	position: relative;
	margin-right: 10px;
}
/*
#container_1{
	display: inline-block;
}
*/
#start{
	width: 35%;
	margin-top: 1.5%;
	margin-left: 25%;
}

#rec_button{
	margin-left: -25%;
}

#h6_play{
	margin-top: 2%;
}

.volume_tag{
	margin-top: 5%;
	width: 20%;

}

#container_chords{
	padding-left: 6%;
}

.ctp{
	margin-top: 3.5%;
	width: 205px;
}

.sliders{
	padding-left: 4%;
}

.volume_tag_ctp{
	margin-top: 5%;
	width: 30%;

}

.right_column{
	position: relative;
	float: right;
	width: 50%;
	box-sizing: border-box;
}

.drawing{
	display: inline-flex;
	width: 100%;
	margin-left: 1%;
}

.notes_names{
	float:left;
	width: 2%;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	height: 552px;
}
/*
.names_box{
	float:right;
	width: 20%;
}*/

#canvas_container{
	position: relative;
	float: right;
	width: 100%;
	margin-right: 10px;
}

.canvas_block{
 	height: 552px;
 	width: 1280px;
	background-color: #FFFAF0;
}

.clicked_button{
	background-color: #0b3c5d;

}
