body{
	background-color:#FF8C00;
}

.btn{
	position:relative;
	cursor:pointer;
	outline:none;
	font-family: georgia;
}

h2{
	position:relative;
	text-align:center;
	font-family: georgia;
	font-size: 150%;
	margin-top: 1%;
	padding-bottom: 1%;
}

h6{
	font-family: georgia;
}

p{
	text-align: center;
	font-family: georgia;
	font-style: italic;
	font-size: 90%;
	/*margin-top: 10px;*/
}

.container_all{
	margin-top: 1%;
	float:left;
	width: 50%;
}

.container{
	position: relative;
	text-align:center;
	margin: 1.5%;
	margin-left: 5%;
	border: 1px dashed black;
	border-radius: 5px;
	width: 90%;
	padding: 1.5%;
	display: inline-block;
}
/*
.channel{
	text-align: center;
	font-family: georgia;
	font-style: italic;
	margin: 0.7%;
	display: inline-block;
}

.input_values{
	width: 100px;
	cursor:pointer;
	outline:none;
	text-align: center;
	font-family: georgia;
}
*/
.left-icon{
	float: left;
	width: 40%;
}

.right-icon{
	float: right;
	width: 60%;
	margin-top: 4%;
}

.slider {
	margin-top: 12%;
  	-webkit-appearance: none;
	width: 170px;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	position: relative;
}

	.slider:hover {
	  	opacity: 1;
	}

	.slider::-webkit-slider-thumb {
	  	-webkit-appearance: none;
	  	appearance: none;
	  	width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #4CAF50;
		cursor: pointer;
	}

	.slider::-moz-range-thumb {
	  	width: 20px;
	 	height: 20px;
	  	border-radius: 50%;
	  	background: #4CAF50;
	  	cursor: pointer;
	}

.slidercontainer{
	height: 20%;
	display: inline-flex;
	width: 60%;
}

#container_1{
	display: inline-block;
}

#start{
	width: 35%;
	margin-top: 1.5%;
	margin-left: 25%;
}

#rec_button{
	margin-left: -25%;
}

#h6_play{
	margin-top: 2%;
}

.volume_tag{
	margin-top: 5%;
	width: 20%;

}

#container_chords{
	padding-left: 6%;
}

.ctp{
	margin-top: 3.5%;
	width: 205px;
}

.sliders{
	padding-left: 4%;
}

.volume_tag_ctp{
	margin-top: 5%;
	width: 30%;

}

.right_column{
	position: relative;
	float: right;
	width: 50%;
	box-sizing: border-box;
}
/*
#container_4{
	height: auto;
}

.complete{
	display: inline-block;
}

.volume_tag_complete{
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
}

.slider_complete{
	margin-top: -15%;
}
*/
.drawing{
	display: inline-flex;
	width: 100%;
}

.notes_names{
	float:left;
	width: 9%;
	text-align: center;
	font-size: 50%;
	font-weight: bold;
	height: 300px;

}

.names_box{
	float:right;
	width: 20%;
}

#canvas_container{
	position: relative;
	float: right;
	width: 98%;
	margin-right: 10px;
	/*margin-top: 2%;*/
}
/*
#canvas_tag{
	text-align: justify;
	/*margin-top: -0.5%
}
*/
.canvas_block{
	/*margin-right: 3px;
	margin-bottom: 2px;*/
 	height: 600px;
	background-color: #FFFAF0;
}

.clicked_button{
	/*background-color: #292b9c;*/
	background-color: #0b3c5d;

}
